html {
  background-color: #000;
  color: white;
  font-family: 'Century Gothic';
  letter-spacing: 2px;
}
#dd {
  font-size: 150px;
  display:inline;
  text-shadow: 0px 0px 10px #fff;
  font-weight: normal!important;
  transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  -webkit-transition-duration: 200ms;
}
#go {
  font-size: 150px;
  display:inline;
  text-shadow: 0px 0px 10px #0f0;
  font-weight: normal!important;
  transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  -webkit-transition-duration: 200ms;
}
div:hover #dd {
  text-shadow: 0px 0px 20px #fff;
}
div:hover #go {
  text-shadow: 0px 0px 20px #0f0;
}
