/*kympyle css - used to place feedback button in lower right*/
.k_float{z-index:9999999;position:fixed !important;position:absolute;}.k_bottom{bottom:0px;_top:expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? document.documentElement.scrollTop + (document.documentElement.clientHeight-this.clientHeight) - 1 :document.body.scrollTop + (document.body.clientHeight-this.clientHeight) - 1);}.k_right{right:2px;}.k_left{left:0px;}.k_top{top:0px;_top:expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? document.documentElement.scrollTop :document.body.scrollTop);}

/*YUI2 reset.css*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;display:inline;}q:before,q:after{content:'';}abbr,acronym {border:0;font-variant:normal;}sup {vertical-align:text-top;}sub {vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}

/*YUI 2 font.css*/
body {font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}table {font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}


html {
  height:101%;
  background: #414141;
  color: #EEE;
  overflow-y: scroll; 
  background-position: top center;
  background-repeat: no-repeat;
  /* commented out until a decision is made */
  /* Firefox 3.6+ */
  /*background: -moz-radial-gradient(circle, #747474, #525252);*/
  /* Safari 4-5, Chrome 1-9 */ 
  /*background: -webkit-gradient(radial, center center, 0, center center, 460, from(#1a82f7), to(#2F2727)); */
  /* Safari 5.1+, Chrome 10+ */ 
  /*background: -webkit-radial-gradient(circle, #747474, #525252);*/
  /* Opera cannot do radial gradients yet */
}

/* font stack */
input,body,a,select,#fh2,#rh,#rh2,#rh3,#rtes,#sx,#hfi,#b {
    font-family: "Segoe UI","Arial",sans-serif;
}

body {
  font-size: 105%; 
}

a {
  text-decoration: none;
  color: #88C;
  text-shadow: 0px 0px 10px black;
}

a:visited {
  color: #55A;
  text-shadow: none;
}

a:hover {
  text-decoration: none !important;
  color: #7372BF;
}

a:focus {
  outline:none;
}

/* large links, used for result tutles */
a.l {
  font-size: 128.6%;
}

/* special links, e.g. 'More links...' links */
a.ls {
  font-size: 100%;
}

/* external links */
a.le { 
	background: inherit; /* FF correction for double underline (sometimes) */
	} 

/* <q></q> appears at end of external links and puts this image next to it */
a.le x { 
	background: url(/i/external.png) no-repeat 100% 50%;
	padding: 0 15px 0 0;	/* width of the img */
	}
/* Does not effect IE8 */
a.le *x { 
    display: inline-block;	/* IE correction to show the icon */
    cursor: pointer;	/* IE correction to show hand instead of arrow */
}

/* used in footer links */
a.w1 {
  color: #EDEDED;
}



img {
  display: block;
  -ms-interpolation-mode: bicubic;
}

/* list elements -- used on bang page */
ul {
  padding-left: 30px;
  padding-top: 3px;
}

ul li {
  list-style: disc outside;
}

ol {
  padding-left: 37px;
  padding-top: 3px;
}

ol li {
  list-style: decimal outside;
}

sup,sub {
    height: 0;
    line-height: 1;
    vertical-align: baseline;
    _vertical-align: bottom;
    position: relative;
    font-size: 71.4%;
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

/* snippet in zero-click box */
#a
{
  font-size:83.3%;  
  line-height: 1.4;
  word-wrap: break-word;
  border: 1px solid #30309E;
}

/* snippet for disambiguation pages - hardly ever comes up */
#a1
{
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
}

/* main content section for the whole page */
#cw {
  max-width: 1027px;
  min-width: 647px;
  margin: 0 auto; 
/*  margin: 0; */
  position: relative;
}
#c {
  margin: auto;
  padding-top: 15px;
  padding-right: 50px;
}
#c2 {
  max-width: 900px;
  min-width: 520px;
  padding: 70px 0px 0px 62px;
  padding-top: expression("50px");
  _width: expression("600px");
}

/* used for logo icon on about pages */
#d
{
  margin: auto;
  padding-bottom: 20px;
  padding-top: 25px;
}

/* used for logo icon on home page */
#dh
{
  background:url(nduck.v104.1.png) no-repeat center top;
  margin: auto;
  padding-bottom: 35px;
  margin-top: 20px;
  height: 132px;
  text-align: center;
  color: transparent;
  text-indent: -9999px;
  font-size: 0px;
}

/* used on category pages so top anchors scroll to right place */
#e
{
  padding-bottom: 775px;
}

/* spacing at the bottom for other pages */
#e2
{
  padding-bottom: 225px;
}

/* homepage error */
#error
{
  padding-top: 20px;
  font-weight: bold;
  color: #FFABAD;
  text-align: center;
  margin: auto;
  display: none;
}

/* footer section */
#f
{
  clear: left;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: tahoma;
  font-size: 83.3%;
  margin: auto;
  text-align: center;
}

/* footer homepage */
#fh
{
  padding-top: 45px;
  padding-bottom: 25px;
  font-size: 14px;
  margin: auto;
  text-align: center;
}
#fh2
{
  font-size: 10px;
  margin: auto;
  text-align: center;
  color: #CCC;
}

/* feedback button wrapper -- includes powered by #rpb */
#fbw
{
  display: none;
  padding-top:15px;
  padding-bottom:4px;
}
/* feedback button */
#fb
{
  background:url('feedback.v104.png') no-repeat;
  cursor: pointer;
  height: 19px;
  width: 60px;
  float: left;
  margin-right: 5px;
}
#fb:hover {
  background-position: 0 -19px;
}
#fb:active {
  background-position: 0 -38px;
}

/* hidden form element to remember last link pressed */
#hs
{
  height:0;
  border:0;
  width:0;
  display:none;
}

/* 0-click image */
#i
{
  float: right;
  max-width: 100px;
/*
  margin-right: 24px;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-left: 3px;
*/

  margin-left: 15px;
  margin-right: 10px;
  padding-bottom: 10px;
  padding-right: 3px;
  line-height: 1.2;
  font-size: 83.3%;
  text-align: center;
}

/* Loading... line */
#j {
  padding-left: 0px;
  padding-top: 0px;
}

/* hidden iframe for html posting */
#k {
  height:0;
  width:0;
  display:none;
}

/* setting blocks */
#kk {
  clear: both;
  padding-top: 10px;
}


/* Loading gif */
#l {
  margin-left: 29px;
}

/* intro line, e.g. 'Some meanings grouped into...' on disambig pages */
#n {
  padding-left: 63px;
  font-size: 77.8%;
}

/* add to search box dialog */
.cnib {
  height: 300px;
  width: 200px;
  background-color:#DDD;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  text-align: left;
  padding: 10px; 
  margin: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  z-index: 1000;
  font-size: 14px;
}

/* Official site */
#o {
  padding-top: 3px;
}

/* related topics section in 0-click box */
#r2
{
  padding-bottom: 5px;
  font-size: 83.3%;
}

/* second column. */
#r3w
{
  max-width: 759px;
  display: block;
  position: relative;
  margin:0;
  padding:0;
}
#r3
{
  display: none;
  width: 130px;
  position: absolute;
  right: -100px;
  top: 25px;
/*
  position: fixed;
  right: 30px;
*/
  font-size: 11px;
/*  font-size: 83.3%; */
  color: #7452FF;
}

/* map */
#r3m 
{
  padding-bottom: 20px;
}

/* ad */
#r3a
{
  padding-top: 30px;
  text-align: left;
}

/* main results */
#r12, #r12b
{
  padding-top: 20px;
  width: 86.5%;
}

/* "info" results */
#r12b
{
  padding-top: 0px;
}

/* main results wrapper */
#r12w
{
  max-width: 759px;
}

/* answers, e.g. 343+3343 */
#ran
{
  padding-left: 33px;
  font-size: 83.3%;
  padding-bottom: 10px;
  padding-top: 5px;
}

/* header in 0-click or on top of special pages, rh3 is misppellings line*/
#rh,#rh2,#rh3 {
  color: #7452FF;
  font-size: 111.1%;
}

#rh,#rh2 {
  font-weight: bold;
}

/* make sure header color propogates links */
#rh,#rh2 h1 a,#rh h1 a {
  color: #7452FF;
}

/* disambig/category header */
#rh,#rh3 {
  padding-bottom: 15px;
}
/* spelling header */
#rh3 {
  padding-bottom: 5px;
}

/* 0-click header */
#rh2 {
  padding-bottom: 5px;
}

/* sidebar */
#ri {
  clear: both;
  height: 100%;
  margin-top: 10px;
  width: 100px;
  position: fixed;
  right: 4%;
  top: 60px;
  position: expression("absolute");
  right: expression("4%");
  display: none; 
}

/* sponsor banner */
#riz2 {
  width:85px;
  height:85px;
  padding-left:14px;
  padding-bottom:1px;
}
#riz3 {
  font-size: 83.3%;
  text-align: right;
  width:99px;
  padding-bottom: 3px;
}

/* powered by */
#rpbw
{
  text-align: right;
  display: none;
}
#rpb {
  clear: right;
  font-size: 11px;
  text-align: right;
  color: #CCC;
  padding-top: 4px;
  padding-bottom: 2px;
}
#rpb a {
  color: #CCC;
}

/* 0-click box */
#rpr
{
  border: 2px solid #FFABAD;
  padding-left: 5px;
  padding-right: 3px;
  width: 85%;
}

/* make statck overflow code look right */
#rpr blockquote {
  background-color:#EEEEEE;
  margin-bottom:10px;
  padding:5px 5px 1px;
}
#rpr blockquote, q {
  quotes:none;
}
#rpr p
{
  clear: both;
  margin-bottom: 5px;
}
#rpr pre
{
  background-color:#EEEEEE;
  font-family:Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
  margin-bottom:5px;
  padding:5px;
  margin-right: 10px;
  word-wrap: break-word;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
}

/* 0-click wrapper */
#rprw
{
  padding-top: 30px;
  max-width: 759px;
  display: block;
}

/* zero-click info text with +/- link */
#rprz, #rprz a
{
  float: right;
  width: 20px;
  top: 0px;
  padding-left:7px;
  padding-right:5px;
  text-align:right;
  text-decoration: none !important;
}

/* suggested topics div */
#rte
{
  display: none;
  padding-left: 33px;
  padding-bottom: 15px;
  font-size: 85%;
}

/* suggested topics go button */
#rteb
{
  border: 0px;
  background: url(go.v101.png) no-repeat; 
  height: 23px;
  width: 35px;
  vertical-align: top;
  text-indent: -1000em;
  font-size: 0px;
  cursor: pointer;
  line-height: 0px;
  text-align: top;
  margin-top: 1px;
  color: #ed1c24;
}

/* suggested topics drop down */
#rtes
{
  max-width: 350px;
  color: #333;
  margin-right: 5px;
}

/* spelling */
#s {
  padding-left: 33px;
  border: 1px solid #FFF;
  padding-top: 4px;
  padding-bottom: 4px;
}

/* search button */
#sb
{
float: left;
width: 40px;
height: 40px;
border: #019801 solid 1px;
background-color: #8CCE6E;
margin: 0;
background-image: url(zoom.v105.png);
background-position: center top;
padding: 0;
cursor: pointer;
-moz-border-radius-topright: 3px;
-moz-border-radius-bottomright: 3px;
-webkit-border-top-right-radius: 3px;
-webkit-border-bottom-right-radius: 3px;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
}
#sb:active {
  background-position: center bottom;
}

/* logo on results page (next to search box) */
#sd
{
  margin-right: 20px;
  float:left;
}

/* search box form */
#sf
{
  width: 520px;
  margin: auto;
  text-align: left;
  padding-right: 50px;
}
#sfs
{
  padding-top:30px;
  
}

/* for homepage -- depcreated, just for html version*/
#sfh
{
  width: 450px;
  margin: auto;
  text-align: left;
}

/* search box, depcreated -- just for html version */
#sx
{
  float:left;
  width: 363px;
  height: 28px;
  color: #222;
  font-size: 20px;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 6px;
  padding-right: 6px;
  background: #FFF;
  outline: none;
  border: #ff6666 solid 1px;
  border-right: none;
  border-radius: 3px 0 0 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
#sx:focus {
  border-color: #FF0000;
}
#c2 #sx {
  width: 384px;
}



/* hidden form element wrapper */
#sxd
{
  display:none;
  height:0;
}

/* search box wrappers -- depcreated, just for lite page. */
#sxw
{
  width: 417px;
  margin: auto;
  padding-bottom: 1px;
  border: none;
  border-bottom: #F2F2F2 solid 1px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background-color: #EEE;
  height:40px;
}
/* added 1 px for ie8 */
#c2 #sxw {
  width: 438px;
}
#sxw2
{
  padding-top:14px;
  float:right;
}


/* main content div for about pages */
#t 
{
  padding-top: 10px;
  margin: auto;
  width: 600px;
}

/* hidden element for spacing */
#x1w
{

} 
#x1 
{
  height:0;
  display:none;
  float:left;
  font-size:83.3%;
  padding-bottom: 40px;
}

/* 0-click snippet classes */
.ca
{
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 3px;
}
.ca2
{
  padding: 0px;
  padding-bottom: 5px;
  padding-left: 5px;
}

/* hide things when needed */
.cdn {
  display: none;
}

/* hidden text to make links work with <q></q> */
.cf
{
  font-size: 0px;
  line-height: 0px;
  color: #fff;
}

/* italic header class */
.ch {
  font-style: italic;
}

/* depcreated -- used for mockups */
.ch2a,.ch2b {
  padding-left: 10px;
  padding-bottom: 8px;
  font-size: 88.0%;
  font-style: italic;  
}
.ch2a {
  padding-top: 5px;
}
.ch2b {
  padding-top: 20px;
}


/* header classes */
.ch3 {
  font-size: 50%; 
}
.ch4 {
  font-size: 65.5%;
  font-style: italic;
  text-align: left;
  margin-bottom: 5px;
}
.ch5 {
  font-size: 85%;
  font-style: italic;
}
.ch6 
{
  color: #EE5555;
  font-size: 111.1%;
  padding-left: 5px;
  padding-top: 10px;
}
.ch7 {
  font-size: 65.5%;
  text-align: left;
  margin-bottom: 3px;
}
.ch8 {
  font-size: 71.4%;
  text-align: left;
  padding-bottom: 7px;
}
.ch4, .ch7, .ch8 {
  padding-left: 13px;
  width: 87px;
}

/* <hr> bars */
.chr
{
  height: 1px;
  margin: 0;
  padding: 0;
  border: none;
  color: #BADE89;
  background-color: #EE7777;
  text-align: left;
}
.chr2
{
  width: 85%;
}
/* page count */
.chr3
{
  float: left;
  color: #555;
  font-size: 71.4%;
  text-align: left;
}
.chr4,.chr5 {
  color: #FFF;
  background-color: #FFF;
  border: 1px dotted #777; 
  border-style: none none dotted;
  height: 1px;
  text-align: right;
  float: left;
}
.chr4 {
  width: 10%;
}
.chr5 {
  width: 70%;
}

/* favicons */
.ci,.cid,.ci2,.ci3
{
  float: left;
  display: none;
}
.ci2
{
  width: 58px;
  text-align: right;
}
.ci3
{
  width: 38px;
  text-align: right;
}
.ci img,.cid img,.ci2 img,.ci3 img
{
  visibility: hidden;
  padding-right: 8px;
}
.ci img,.cid img
{
  width: 16px;
  height: 16px;
}
.ci img,.ci2 img
{
  padding-top: 5px;
}
.ci2 img,.ci3 img
{
  display: inline;
}
.cid img
{
  padding-top: 5px;
}

/* abstract icons */
.cia {
  display: inline;
  float: left;
  padding-right: 5px;
  padding-top: 2px;
  width: 16px;
  height: 16px;
}

/* icons next to stuff on special pages that aren't favicons */
.cis {
  max-height: 50px;
  max-width: 50px;
  width: expression("50px");
}

/* zero-click disambig */
.cis2 {
  max-height: 30px;
  max-width: 30px;
  width: expression("30px");
}

/* header image */
.cisa {
  max-height: 100px;
  max-width: 100px;
}

.cl {
  clear: both;
  height: 0;
}

/* main result link div */
.cl1
{
  text-align: left;
  margin-left: 28px;
  word-wrap:  break-word;
}

/* more results.. main result link div */
.cl1s
{
  text-align: left;
  margin-left: 58px;
  word-wrap:  break-word;
}

/* related topics link div */
.cl2
{
  text-align: left;
  margin-left: 10px;
  margin-right: 5px;
  word-wrap:  break-word;
}

/* meanings div */
.cl2s
{
  text-align: left;
  margin-left: 38px;
  margin-right: 5px;
  word-wrap:  break-word;
}

.cld,.cl1,.cl1s
{
  font-size: 83.3%;
}

/* side bar images */
.cli
{
  display: inline;
  vertical-align: middle;
}
.clib
{
  display: inline;
  vertical-align: bottom;
}

/* smaller text on about pages */
.clu
{
  font-size: 83.3%;
  color: #333;
}

/* similar sites link */
.clus, .clus a
{
  font-size: 78.6%;
  color: #555 !important;
}

/* url line */
.clud, .clud a
{
  color: #662200 !important;
/*  color: #111155; */
/*  color: #551111; */
}

/* url line image -- not currently used */
.cluz
{
  display: inline;
  vertical-align: middle;
}

/* type next to links, e.g. [PDF] */
.clt
{
  font-size: 65.0%;    
}

/* background highlighting for results */
.cm,.cma3,.cma {
  border: 1px solid #fff;
}

.cmf {
  background: #e4f6b9; 
  border: 1px solid #b8e478 !important;
/*  background: #eee; */
  cursor: pointer;
}

/* not sure */
.cmh {
  display: none;
}

/* display inline class */
.cn
{
  display: inline;
}

/* for query builder */
.cqb
{
  background-color: #DDD;
  padding: 4px;
  margin-bottom: 4px;
  font-size: 11px;
}
.cqb a 
{
  color: #222 !important;
}

/* result divs */
.cr1,.cr2,.cr3,.cr2c,.cr1b,.cr3b,.cr4b {
  clear: left;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #FFF;
}
.cr1d
{
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #FFF;
}
.cr1 {
  padding-left: 5px;
}
.cr1b {
  padding-left: 29px;
}
.cr3b {
  padding-left: 63px;
}
.cr4b {
  padding-left: 38px;
}
.cr2,.cr2b
{
  padding-bottom: 3px;
  padding-top: 3px;
  border: 1px solid #fff;
}
.cr4b,.cr2c {
  padding-bottom: 4px;
  padding-top: 4px;
  border: 1px solid #fff;
}
.cr2 {
  clear: none;
  padding-top: 3px;
}
.cr2b
{
  padding-top: 3px;
  padding-left: 10px;
  font-size: 90%;
}
.cr3 {
  margin-bottom: 10px;
}

/* result snippets */
.cra, .cra a
{
  line-height: 1.4;
  color: #222 !important;
  text-decoration: none !important;
  cursor: default !important;
}

/* hidden space to make floats work */
.crh
{
  clear: both;
  font-size: 0;
  line-height: 0;
  height: 0;
}

/* inline  links */
.crx {
  display: inline;
  padding: 5px;
  font-weight: normal;
}

/* not sure */
.cs
{
  padding-left: 35px;
}

/* similar sites */
.cssd
{
  width: 100%; 
  margin: 0; 
  background-color: inherit;
  overflow: hidden;
  height: 130px;
}
.cssf
{
  width: 100%; 
  margin: 0; 
  background-color: inherit;
  border: 0;  
  overflow: hidden;
  height: 130px;
}
.ssTable { margin:0 !important; } .ssBody { margin:0 !important; }

/* trademark */
.ctm {
  font-size:45%;
  position:relative;
  bottom:1.1em;
}


/* New header */

#hw {
    width: 100%;
    padding-bottom: 5px;
    display: none;
    position:fixed;
    top:0px;
    left:0px;
    z-index: 1;
}

#h {
    background: #e4f6b9 url('headerbg.v101.lgreen.png') 0 0 repeat-x;
    min-width: 560px;
    overflow: hidden;
    border-bottom: #b8e478 solid 1px;
    -moz-box-shadow: 0 0 5px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 5px 0px rgba(0,0,0,0.2);
}

#hwc {
    max-width: 1027px;
    min-width: 647px;
    margin: 0 auto; 
/*    margin: 0; */
    overflow: hidden;
}

#hc {
    max-width: 900px;
    min-width: 520px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 40px 12px 87px;
}

#hl {
    float: left;
    width: 98px;
    height: 141px;
    overflow: visible;
    margin: -7px 18px -108px -113px;
    background:url(fduck.v101.lred.png) no-repeat center top;
}

#hl img {
    width: 98px;
    height: 141px;
}

#hl2 {
    float: left;
    width: 150px;
    height: 34px;
    overflow: visible;
    background:url(nduck.v106.png) no-repeat scroll 6px 7px transparent !important;
}

#hl2 img {
    width: 142px;
    height: 21px;
}

/* header form */
#hf {
	float: left;
		
	width: 442px;
	height: 34px;

}
/* for homepage */
#hfh {
    width: 420px;
    margin: auto;
    text-align: left;
}

/* search dropdown */
#hfd
{
	display: block;
	float: left;
	
	width: 17px;
	height: 32px;
	
	background: url("/sbutton.v101.lblue.png") repeat-x scroll right top transparent
}
#hfd:active {
	background-position: right bottom;
}
/* for homepage */
#hfdh
{
	display: none;
	float: left;
	
	width: 17px;
	height: 32px;
	
	background: url("/sbutton.v101.green.png") repeat-x scroll right top transparent
}
#hfdh:active {
	background-position: right bottom;
}


/* search input */
#hfi {
	float:right;

	background: #525252;
	color: #EEE;

	width: 350px;
	height: 23px;
	padding: 4px 6px 5px 6px;
	margin: 0;

	outline: none;
	/*border: #9dca5a solid 1px;*/
	border-right: 0;
	
	font-size: 107.1%;
	
	-moz-border-radius: 3px 0 0 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;

	-moz-box-shadow: 0 1px 0px 0 rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 1px 0px 0 rgba(0,0,0,0.2);
}
/* for homepage */
#hfih {
	float:right;

	background: #525252;
	color: #EEE;

	width: 350px;
	height: 23px;
    /* in absense of the border, I have to put 2px of padding on the bottom */
	padding: 6px 6px 5px 6px;
	margin: 0;

	outline: none;
	/*border: #ff6666 solid 1px;*/
	border: none;
	border-right: 0;
	
	font-size: 18px;
	
	-moz-border-radius: 3px 0 0 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;

	-moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}

/* wrapper for search button/droppdown */
#hfx {
	float: right;
	
	width: 49px;
	
	border: #3c87b8 solid 1px;
	border-top: #5ea8db solid 1px;

	overflow: hidden;
	
	background: #65abdc;
	
	-moz-border-radius: 0 3px 3px 0;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;

	-moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}
/* for homepage */
#hfxh {
	float: right;
	
	width: 32px;
	
	border: #747474 solid 1px;
	background: #747474;

	overflow: hidden;
	
	-moz-border-radius: 0 3px 3px 0;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;

	-moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}

/* clear button */
#hfc {
	float:right;
	
	width: 25px;
	
	border: 0;
	background: #FFF url('xon.v101.png') no-repeat left center;
	cursor: pointer;

	height: 34px;
	margin: 0;

	outline: none;
	border: #9dca5a solid 1px;
	border-bottom: #9dca5a solid 1px;
	border-right: 0;
	border-left: 0;

	-moz-box-shadow: 0 1px 0px 0 rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 1px 0px 0 rgba(0,0,0,0.2);
}
#hfc:active {
	background: #FFF url('xoff.v101.png') no-repeat left center;
	background-position: 5px 8px;
}

/* search button */
#hfb {
	float:left;
	
	height: 32px;
	width: 32px;
	
	border: 0;
	background:url('sbutton.v101.lblue.png') no-repeat;
	cursor: pointer;
}
#hfb:active {
	background-position: 0 -32px;
}
/* for homepage */
#hfbh {
	float:left;
	
	height: 32px;
	width: 32px;
	
	border: 0;
	background:url('sbutton.v101.green.png') no-repeat;
	cursor: pointer;
}
#hfbh:active {
	background-position: 0 -32px;
}



#hbw {
    width: auto;
    float: left;
    margin-bottom: -4px;
    padding-top: 6px;
    padding-left: 23px;
    font-weight: normal;
    font-size: 83.3%;
}

#hb {
    list-style:none;
    margin: 0 auto;
}

#hbw ul {
  padding: 0;
}

#hb li {
    display: block !important;
    list-style: none;
    float: left;
    margin: 0 !important;
    height: 19px;
}

#hb a {
    display: block !important;
    padding: 2px 3px 3px;
    margin: 0 2px;
    border: 1px solid transparent;
    border-bottom: 0;
    position: relative;
    z-index: 300;
    color:#1168CC;
}

#hbsmw a.hbs {
    padding-right: 13px;
    background: url('triangle.png') no-repeat 100% -26px;
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
    cursor: default;
    text-align: right;
}


#hbsmw:hover a.hbs {
    background: white url('triangle.png') no-repeat 100% -26px;
    border-color: #DDD;
}

/*
#hbsmw a.hbs:hover {
    background: #3FA9F5 url('triangle.png') no-repeat 100% -8px;
}
*/


#hbsmw {

    overflow: hidden;
}

#hbsmw:hover {
    overflow: visible;
}

#hbsmw:hover a {
    text-shadow: none !important;
    color: #1168CC !important;
}

#hbsm {
    margin: 0;
    float: left;
    position: fixed;
    left: -2000px;
    display: block;
    background: #FFF;
    border: 1px solid #DDD;
    margin-left: 2px;
    margin-top: -1px;
    margin-right: 0px;
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0, 0.2);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0, 0.2);
    box-shadow: 0 1px 3px 0 rgba(0,0,0, 0.2);
}

#hbsmw:hover #hbsm {
    left: auto;
}

#hbsm:after {
    content: "-";
    font-size: 1px;
    display: block;
    position: fixed;
    opacity: 0;
}

#hbsm li {
    display: block !important;
    list-style: none;
    float: none;
    height: auto;
    font-weight: normal;
}

#hbsm a {
    display: block;
    padding: 2px 3px;
    margin: 0;
    background-color: #FFF;
}

#hbsmw a:hover {
    text-decoration: none !important;
}

#hbsm a:hover {
    background-color: #3FA9F5;
    color: #FFF !important;
}

/* for prettier rounded corners */
#hfih, #hfi, #hfx, #hfxh { -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; }

#bw
{
    max-width: 900px;
    min-width: 520px;
    margin: 0 auto;
    padding: 0 0 0 160px;
}

#b
{
    position: fixed;
    width: 175px;
    top: 43px;
    left: 373px;
    display: none;
    outline: 0;
    font-size: 83.3%;
    z-index: 100;
}


/* Small screens */
@media only screen and (max-device-width: 701px) {
  #c2,#cw,#sf,#sxw,#sxw2,#c2 #sf,#c2 #sxw,#c2 #sxw2,#sfh,#t,#hc,#rprw,#r12w,#rpr,#r12,#r12b {
    width: 97%;
    min-width: 97%;
    margin:auto;
    padding-right:0;
  }

  #c2 {
    margin: auto;
    padding-left:0;
    padding-top: 50px;
  }

  #sd,#ri,#hbw,#hfd,#bw,#hfdh {
    display: none;
  }

  #sxw {
    border: 0;
  }

  #sx,#c2 #sx {
    width: 70%;
  }
  
  #sfh,#t #sxw {
    width: 300px;
    min-width: 300px;
    margin: auto;
  }

  #t #sx {
    width: 245px;
  }

  #dh {
      background:url(nduck.v105.mobile.png) no-repeat center top;
      width: 275px;
      height: 60px;
      padding-bottom: 20px;
  }

  #fh {
      padding-top: 20px;
  }

  #hl {
      margin-left: -95px;
      margin-right: 10px;
  }
  
  #hc {
      padding-left: 50px;
  }

  #hf {
      width: 235px;
  }
  #hfh {
      width: 210px;
  }

  #hfx,#hfxh {
      width: 32px;
  }
  
  #hfi,#hfih {
      width: 163px;
  }
}
@media only screen and (max-device-width: 701px) and (orientation:landscape) {
  #hf {
      width: 325px;
  }
  #hfi {
      width: 253px;
  }
}

/* Android fix. */
@media only screen and (-webkit-min-device-pixel-ratio:1.5) {
  #t {
    width: 97%;
    min-width: 97%;
    margin:auto;
    padding-right:0;
  }

  #hfd,#hfdh {
    display: none;
  }

  #dh {
      background:url(nduck.v105.mobile.png) no-repeat center top;
      width: 275px;
      height: 60px;
      padding-bottom: 20px;
  }

  #fh {
      padding-top: 20px;
  }

  #hf {
      width: 235px;
  }

  #hfh {
      width: 210px;
  }

  #hfx,#hfxh {
      width: 32px;
  }
  
  #hfi,#hfih {
      width: 163px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5) and (orientation:landscape) {
  #hf {
      width: 325px;
  }
  #hfi {
      width: 253px;
  }
}

/* ads */
.yahooad {
  line-height: 1.2;
  width: 150px;
}
.yahooad-title {
  font-size: 14px;
}
.yahooad-title2 {
  font-weight: bold;
}
.yahooad-text {
  padding-top: 3px;
  font-size: 12px;
}
.yahooad-urlline {
  padding-top: 3px;
  font-size: 11px;
  font-weight: bold;
}
.yahooad-text a, .yahooad-urlline a {
  color: #545454 !important;
}
.yahooad-text a:hover, .yahooad-urlline a:hover {
  text-decoration: none !important;
}

.amazonad-title {
  font-size: 14px;
}
.amazonad-text {
  padding-top: 6px;
  font-size: 12px;
  width: 130px;
}
.amazonad-callout {
  padding-top: 6px;
}
.amazonad-highlight {
  color: #b03333 !important;
}
.amazonad-text a {
  color: #545454 !important;
}
.amazonad-text a:hover {
  text-decoration: none !important;
}

.carbonad {
  background-color: #FFF !important;
  border: none !important;
  height: 215px;
  line-height: 1.2;
  width: 150px;
}
.carbonad-image {
  float: left;
  height: 100px;
  margin-left: 0 !important;
  margin-top: 0 !important;

  width: 130px;
}
.carbonad-text {
  color: #545454;
  float: left;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 11px;
  font-weight: normal;
  margin-left: 0 !important;
  height: auto !important;
  margin-top: 8px;
  width: 119px;
}
.carbonad-text a { 
  text-decoration: none;
  font-weight: bold; 
}
.carbonad-tag {
  color: #999999;
  float: left;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 11px;
  font-weight: normal;
  margin-left: 0 !important;
  margin-top: 5px !important;
  padding-top: 5px;
}
.carbonad-tag a { 
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-weight: normal; 
}
